<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dato.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dato.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @dato.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dato.description %>
</p>

<%= link_to 'Edit', edit_dato_path(@dato) %> |
<%= link_to 'Back', datos_path %>
